<div class="bg-slate">
    <div class="bg-primary  ztablet:rounded-bl-[8em]">
        <div class="relative">
            <div class="hero-bg relative ztablet:top-[-10em]"></div>
            {% include "../partials/nav.html" %}

            <!-- Columns -->
            <div class="max-w-[120em] m-auto between relative flex flex-col-reverse justify-center pb-4 ztablet:flex-row ztablet:z-0 ztablet:top-[-10em] ztablet:mb-[-10em]">

                <!-- Text -->
                <div style="flex: 1 0 37%;" class="m-auto w-[86vw] max-w-7xl text-center text-white ztablet:pl-12 ztablet:text-left ztablet:pt-[12em] zdesktop:pt-[8em] zdesktop:pl-20">
                    <h1 class="font-sansl text-xlg tracking-tight ztablet:pb-10 ztablet:text-huge ztv:text-xhuge">{{site.topHeader}}</h1>
                    <p class="ztablet:pl-3 pb-10 text-med leading-6 ztablet:text-xlg ztv:text-xxlg ztablet:pr-10">{% render "./section_content/hero.md" %}</p>
                    <a href="#solution" class=" text-brightgreen font-sanm  text-sm  ztablet:text-med ztablet:pt-10 ">
                        <p class=" ztablet:pl-3 leading-[0.8em] ztablet:inline">Learn More</p><span class="material-icons ztablet:top-[6px] relative">expand_more</span>
                    </a>
                </div>

                <!-- Pictures -->
                <div style="flex: 1 0 50%;" class="relative t-0 l-0">
                    <img alt="Porch with swinging chair" class="object-cover rounded-bl-[6em] h-[18em] zmobile:h-[23em] ztablet:h-[45em] ztablet:rounded-tl-[50em] ztablet:rounded-bl-[0px]" src="./assets/hero_1.png"></img>
                    <div class="h-[calc(36vw/2)] ztablet:h-[calc(16vw/2)] max-h-[6em]">
                        <img alt="Veranda Box Render" class="absolute right-0 left-0 m-auto bottom-0 object-cover w-[100vw] max-w-2xl ztablet:w-[50vw]" src="./assets/hero_box.png"></img>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
