<div class="bg-gradient-to-b from-white to-cream">
    <div style="background-size: 110%; background-position: 50% 63%" class="rounded-tl-[5em] rounded-br-[5em] bg-midbanner">
        <div class="m-auto w-full max-w-7xl p-6 pt-24 pb-24 ztablet:p-32 zdesktop:p-40">
            <p class="text-center font-sansb text-med font-bold tracking-tight text-white ztiny:text-lg zmobile:text-xlg ztablet:text-xxlg zdesktop:text-xxxlg">
                {% render "./section_content/mid_banner.md" %}
            </p>
        </div>
    </div>
</div>
