<div class="bg-cream pt-[calc(140vw/4)] ztablet:pt-[min(calc(100vw/4),24em)]">
    <div class="m-auto w-[86vw] max-w-[100em]">
        <div>
            <h2 class="text-center font-sans text-base font-bold leading-[1.5] tracking-tight text-salmon ztablet:text-lg ztablet:leading-[1]">
                {{site.systemHeader}}
            </h2>
            <h3 class="pb-8 text-center font-sansmd text-lg font-bold leading-[1.2] tracking-tight text-slate ztablet:text-lgr">{{site.systemSubHeader}}</h3>
        </div>

        <!-- Columns -->
        <div class="flex flex-col items-center ztablet:flex-row ztablet:justify-around ztablet:text-center">
            <div class="pb-16 ztablet:max-w-[24em]">
                <div class="p-6 pt-12 ztablet:h-[12em]">
                    <img class="m-auto w-36 min-w-[6em] zdesktop:w-52" src="./assets/icons/icon-temp.svg" alt="Veranda Logo" />
                </div>
                <div>
                    <h4 class="pb-1 text-center text-lg">{{site.systemColHead1}}</h4>
                    <hr class="font-med m-auto mb-3 h-[5] w-24 border-[2px] border-solid text-salmon" />
                    <p class="text-med">{% render "./section_content/system1.md" %}</p>
                </div>
            </div>
            <div class="pb-16 ztablet:max-w-[24em]">
                <div class="p-6 ztablet:h-[12em]">
                    <img class="m-auto w-24 min-w-[6em] zdesktop:w-32" src="./assets/icons/icon-dashboard.svg" alt="Veranda Logo" />
                </div>
                <div>
                    <h4 class="pb-1 text-center text-lg">{{site.systemColHead2}}</h4>
                    <hr class="font-med m-auto mb-3 h-[5] w-24 border-[2px] border-solid text-salmon" />
                    <p class="text-med">{% render "./section_content/system2.md" %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
