<div class="m-auto h-[calc(80vw/4)] max-h-[24em] bg-slate text-center">
    <iframe
        id="vimeovid1"
        class="m-auto max-w-[1356px] rounded-2xl"
        title="Veranda Promotional Video"
        src="https://player.vimeo.com/video/758425679?h=f14cc52762&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        height="200%"
        width="71%"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
    ></iframe>
    <!-- <br /> -->
    <!-- <button onclick="play_video()">MY_PLAY_BUTTON</button> -->
    <!-- <script>
        function play_video() {
            var player = document.getElementById('vimeovid1');
            var data = { method: 'play' };
            player.contentWindow.postMessage(JSON.stringify(data), '*');
        }
    </script> -->
    <script src="https://player.vimeo.com/api/player.js"></script>

    <!-- <video id="commercial" controls class="h-[200%] rounded-xl" poster="assets/commercial_thumb.webp">
        <source src="./assets/commercial.mp4" type="video/mp4" />
        Your browser does not support the mp4.
    </video> -->
</div>
