/*************
Fade Ins
**************/
#EP-fade {
    opacity: 1;
}

.fadein-3,
.fadein-top {
    opacity: 0;
}
.fadeinstay {
    opacity: 1;
}

.movinright {
    position: relative;
    width: 60vw;
}

.delay-1s {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.fade-in-3s {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

.fade-out-3s {
    animation: fadeOut ease 3s;
    -webkit-animation: fadeOut ease 3s;
    -moz-animation: fadeOut ease 3s;
    -o-animation: fadeOut ease 3s;
    -ms-animation: fadeOut ease 3s;
}

.fade-in-wait-2s {
    animation: fadeInWait ease 2s;
    -webkit-animation: fadeInWait ease 2s;
    -moz-animation: fadeInWait ease 2s;
    -o-animation: fadeInWait ease 2s;
    -ms-animation: fadeInWait ease 2s;
}
.fade-in-wait-3s {
    animation: fadeInWait ease 3s;
    -webkit-animation: fadeInWait ease 3s;
    -moz-animation: fadeInWait ease 3s;
    -o-animation: fadeInWait ease 3s;
    -ms-animation: fadeInWait ease 3s;
}

.fade-in-5s {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

.fade-in-wait-5s {
    animation: fadeInWait ease 5s;
    -webkit-animation: fadeInWait ease 5s;
    -moz-animation: fadeInWait ease 5s;
    -o-animation: fadeInWait ease 5s;
    -ms-animation: fadeInWait ease 5s;
}

.fade-in-10s {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}

.fade-in-wait-10s {
    animation: fadeInWait ease 10s;
    -webkit-animation: fadeInWait ease 10s;
    -moz-animation: fadeInWait ease 10s;
    -o-animation: fadeInWait ease 10s;
    -ms-animation: fadeInWait ease 10s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*FADEOUT*/
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInWait {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeInWait {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeInWait {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-o-keyframes fadeInWait {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-ms-keyframes fadeInWait {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body,
section,
nav,
footer {
    transition: all ease 1s;
}
