html,
body {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

// ::selection {
//     background: rgba(28, 81, 65, 0.5);
// }

mark {
    background-color: #f4d379;
    color: #1c5141;
}

.hero-bg {
    position: absolute;
    height: 100%;
    width: 100vw;
    background-image: url('../assets/bg/hero_bg.png');
    background-size: 170%;
    background-position: center;
    background-repeat-x: no-repeat;
    opacity: 0.08;
}

.system-bg {
    position: absolute;
    height: 100%;
    width: max(100vw, 100vh);
    background-image: url('../assets/bg/system_bg.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.7;
}
a:hover {
    // -webkit-filter: opacity(80%);
    color: #ff9393;
}

button:hover {
    -webkit-filter: brightness(110%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

form input {
    font-family: 'test_national_2regular', 'sans-serif';
}

input::placeholder {
    font-family: 'test_national_2regular', 'sans-serif';
}

input::-webkit-input-placeholder {
    font-family: 'test_national_2regular', 'sans-serif';
}

input:-ms-input-placeholder {
    font-family: 'test_national_2regular', 'sans-serif';
}

input:-moz-placeholder {
    font-family: 'test_national_2regular', 'sans-serif';
}

input::-moz-placeholder {
    font-family: 'test_national_2regular', 'sans-serif';
}

#preloader {
    position: fixed;
    // background-color: #1c5141;
    background-color: #23252c;
    z-index: 999;
    height: 100%;
    width: 100%;

    -webkit-transition: 0.6s all ease;
    -o-transition: 0.6s all ease;
    transition: 0.6s all ease;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;

    .spinner_wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }

    &.loaded {
        opacity: 0;
        visibility: hidden;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        height: 50%;
        width: 100%;
        background-color: rgba(var(--color-splash-bar), 1);

        -webkit-transition: 1s all ease;
        -o-transition: 1s all ease;
        transition: 1s all ease;
    }

    &:before {
        top: 0;
        left: 0;
    }
    &:after {
        bottom: 0;
        left: 0;
    }
    &.loaded:before,
    &.loaded:after {
        width: 0%;
    }

    .spinner {
        width: max(100px, 12vw);
        max-width: 320px;
        height: max(100px, 12vw);
        max-height: 320px;
    }
}

@media (max-width: 500px) {
    #preloader.loaded:before,
    #preloader.loaded:after {
        width: 100%;
        height: 0%;
    }
}

/*************
SUPER-GENERAL STYLES
**************/
.thin {
    font-style: thin;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}

.thick {
    font-style: bold;
}

.center {
    text-align: center;
}

.fullcontainer {
    width: 100%;
}

.circle {
    border-radius: 50%;
}

.row {
    vertical-align: top;
}

.px2 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.centered-container {
    margin: auto;
    vertical-align: middle;
}

/*************
OVERRIDES *careful y'all
**************/
.displaynone {
    // display: none !important;
}

.negz {
    z-index: -1 !important;
}
