.gr-sm-even-2, .gr-md-even-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
  display: grid;
}

.gr-sm-6-4, .gr-md-6-4{
  grid-template-columns: 55% 5%  40%;
  display: grid;
}

.gr-sm-7-3, .gr-md-7-3{
  grid-template-columns: 70% 5%  25%;
  display: grid;
}

@media (max-width: $big_breakpoint) {
  .gr-md-6-4{
  grid-template-columns: 100% 0% 0%;
}
}

@media (max-width: $breakpoint) {
    .gr-md-even-2, .gr-md-7-3{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (max-width: $small_breakpoint) {
    .gr-sm-even-2, .gr-sm-6-4{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}