article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video,
img {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) {
    display: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
section,
nav,
img {
    margin: 0;
    padding: 0;
}
mark,
rp,
rt,
ruby,
summary,
time {
    display: inline;
}
html {
}
body {
    -webkit-backface-visibility: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input,
textarea,
select {
    outline: none;
    resize: none;
    border: none;
    border: 0;
    outline-offset: 0;
}
a {
    text-decoration: none;
    outline: none;
}
a.active {
    outline: none;
}
.none {
    display: none;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center !important;
}
.align-right {
    text-align: right;
}
.d-block {
    display: block;
}
.no-border {
    border: none;
}
.no-margin-top {
    margin-top: 0 !important;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
    font: 100%;
}
fieldset,
img {
    border: 0;
}
address, caption, cite, code, dfn, em, /*strong,*/ th, var, optgroup {
    font-style: inherit;
    font-weight: inherit;
}
li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}
input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
select,
input,
button,
textarea,
button {
    font: 100%;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
