<!DOCTYPE html>
<html lang="{{ site.lang }}" class="no-js">
    {% include "partials/head.html" %}

    <body>
        <div class="viewport">
            <!-- Include Preloader -->
            <div role="complementary" id="preloader">
                <div class="spinner_wrap">
                    <img alt="Site Logo" src="../assets/logo_symbol.svg" class="spinner" />
                </div>
            </div>

            <main id="contentWrapper" class="min-h-screen">
                {{ content }}
                <footer class="bottom">{% include "sections/footer.html" %}</footer>
            </main>
        </div>
    </body>
    <script src="js/scripts.js"></script>
    <script src="../js/preloader.js"></script>
</html>
