<div class="bg-slate">
    <div class="overflow-hidden bg-primary ztablet:rounded-bl-[8em]">
        <div class="relative">
            <!-- <div class="hero-bg relative"></div> -->
            {% include "../../partials/nav.html" %}

            <!-- Columns -->
            <div class="between relative m-auto flex max-w-[120em] flex-col-reverse justify-center ztablet:z-0 ztablet:flex-row ztablet:pb-4">
                <!-- Pictures -->
                <div style="flex: 1 0 50%" class="t-0 l-0 relative">
                    <div
                        class="relative top-[6px] inline-flex max-w-[55em] overflow-hidden rounded-tr-[200px] ztablet:absolute ztablet:w-[60vw] ztablet:rounded-tr-[200px] zdesktop:rounded-tr-[300px] zlgdesktop:rounded-tr-[400px]"
                    >
                        <img class="fade-right object-cover opacity-90" src="/assets/DreamBox-5.jpg" />
                    </div>

                    <!-- <div class="h-[calc(36vw/2)] ztablet:h-[calc(16vw/2)] max-h-[6em]">
                        <img  alt="Veranda Box Render" class="ztablet:ml-2 absolute right-0 left-0 m-auto bottom-0 object-cover w-[100vw] max-w-2xl ztablet:w-[50vw]" src="/assets/hero_1box.webp"></img>
                    </div> -->
                </div>

                <!-- Text -->
                <div
                    style="flex: 1 0 50%"
                    class="m-auto w-[86vw] max-w-7xl py-[3em] text-center text-white ztablet:py-[1em] ztablet:pr-16 ztablet:text-left zdesktop:py-[2em] zlgdesktop:py-[6em] zlgdesktop:pl-20"
                >
                    <p
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="200"
                        data-aos-once="true"
                        class="font-sanm pb-0 text-lg text-brightgreen ztablet:pl-3 ztablet:pb-4"
                    >
                        Press Release
                    </p>
                    <h1
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="600"
                        data-aos-once="true"
                        class="font-sansl text-xxxlg leading-[1.1] tracking-tight ztablet:pb-8 ztablet:text-xxxlg zdesktop:text-xxxxlg"
                    >
                        Delivering Better with Dion
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
