<div class="bg-slate pt-12 pb-3 ztablet:pt-20">
    <div data-aos-offset="0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800" data-aos-once="true" class="m-auto w-80vw max-w-5xl">
        <div>
            <h2 class="text-left font-sans text-base font-medium leading-[1.5] tracking-tight text-salmon ztablet:pb-4 ztablet:text-lg ztablet:leading-[1]">
                For Immediate Release
            </h2>
            <h3 class="pb-8 text-left font-sansmd text-lg font-medium leading-[1.2] tracking-tight text-white ztablet:text-xlg">
                Veranda Partners with Dion's Chicago Dream for Groundbreaking "Dream Box" Launch
            </h3>
        </div>
        <div class="pb-10 text-sm text-white text-opacity-80 ztablet:text-left ztablet:text-press">
            In a bold step toward revolutionizing food security and grocery delivery, Veranda has teamed up with Dion’s Chicago Dream to introduce Dream Box—a
            first-of-its-kind technology—that will transform how fresh groceries reach Chicagoland families. Chief Dreamer Dion Dawson, along with his
            passionate team at
            <a href="https://dionschicagodream.com" class="underline">Dion’s Chicago Dream</a>
            , will guide the launch of Dream Box into the Chicagoland market—combining their fast-growing logistics infrastructure with Veranda’s groundbreaking
            “Dream Box” technology.
        </div>
        <!-- ABOUT VERANDA -->
        <h4 class="pt-6 pb-4 text-left font-sansmd text-lg font-medium leading-[1.2] tracking-tight text-brightgreen ztablet:text-lg">About Veranda</h4>
        <div class="pb-10 text-sm text-white text-opacity-80 ztablet:text-left ztablet:text-press">
            Veranda reimagines grocery delivery by removing the need for delivery windows, offering a seamless, sustainable solution that reduces environmental
            impact. With Dream Box, customers can receive groceries securely and reliably <b>anytime, day or night</b>, ensuring freshness while eliminating
            delivery timing constraints. The Dream Box is crafted with sustainability in mind, designed to
            <b>operate online without Wi-Fi or a plug in power source</b>, and integrate naturally and flexibly into residential spaces. Veranda was founded by
            three Canadian technologists, Terry Sweeney, Dr. Joshua Wong, and Nicolas Durish.
        </div>

        <!-- DCD -->
        <h4 class="pt-6 pb-4 text-left font-sansmd text-lg font-medium leading-[1.2] tracking-tight text-brightgreen ztablet:text-lg">Dion's Chicago Dream</h4>
        <div class="pb-10 text-sm text-white text-opacity-80 ztablet:text-left ztablet:text-press">
            Founded by Chicago native Dion Dawson, Dion’s Chicago Dream has redefined approaches to food security with a unique focus on nutritional
            philanthropy. Dion's Chicago Dream’s award-winning suite of programs—Dream Deliveries, and Dream Vault—are empowering communities by providing
            consistent access to fresh produce with its high-powered delivery infrastructure. DCD's systems deliver fresh produce directly to food-insecure
            Chicago residents, distributing millions of pounds annually while simultaneously creating community jobs and building people-centered movements As
            Veranda’s primary launch partner, DCD will use the Veranda Dream Box technology to broaden its impact, furthering their mission of ensuring reliable
            and accessible nutrition for Chicagoland households.
        </div>

        <!-- DCD -->
        <div class="flex h-auto flex-col items-center justify-between zdesktop:flex-row zdesktop:gap-[6em]">
            <!-- Text Column -->
            <div class="flex flex-[1.1] flex-col items-start justify-start">
                <h4 class="pt-6 pb-4 text-left font-sansmd text-lg font-medium leading-[1.2] tracking-tight text-brightgreen ztablet:text-lg">
                    Dion's Chicago Dream
                </h4>
                <div class="pb-10 text-sm text-white text-opacity-80 ztablet:text-left ztablet:text-press">
                    Founded by Chicago native Dion Dawson, Dion’s Chicago Dream has redefined approaches to food security with a unique focus on nutritional
                    philanthropy. Dion's Chicago Dream’s award-winning suite of programs—Dream Deliveries, and Dream Vault—are empowering communities by
                    providing consistent access to fresh produce with its high-powered delivery infrastructure. DCD's systems deliver fresh produce directly to
                    food-insecure Chicago residents, distributing millions of pounds annually while simultaneously creating community jobs and building
                    people-centered movements As Veranda’s primary launch partner, DCD will use the Veranda Dream Box technology to broaden its impact,
                    furthering their mission of ensuring reliable and accessible nutrition for Chicagoland households.
                </div>
            </div>

            <!-- Image Column -->
            <div class="flex flex-[1] items-center justify-center zmobile:w-full">
                <img class="rounded-[20px] object-cover" src="/assets/DreamBox-16.jpg" alt="Dion Dawson" />
            </div>
        </div>

        <!-- ABOUT DION -->
        <h4 class="pt-6 pb-4 text-left font-sansmd text-lg font-medium leading-[1.2] tracking-tight text-brightgreen ztablet:text-lg">About Dion Dawson</h4>
        <div class="pb-10 text-sm text-white text-opacity-80 ztablet:text-left ztablet:text-press">
            Dion Dawson is the Chief Dreamer of Dion’s Chicago Dream, a social entrepreneur, and philanthropic leader championing health equity with an
            innovative, logistics-focused approach. By stabilizing the supply chain and redefining food distribution, he has drawn global attention. With
            data-driven operations and a customer-first mindset, Dion ensures that every solution prioritizes the people it is meant to serve—meeting them
            exactly where they are.
        </div>

        <!-- LAUNCH -->
        <h4 class="pt-6 pb-4 text-left font-sansmd text-lg font-medium leading-[1.2] tracking-tight text-brightgreen ztablet:text-lg">Launch</h4>
        <div class="pb-14 text-sm text-white text-opacity-80 ztablet:text-left ztablet:text-press">
            The Dream Box launch in Chicago will serve 50 households in Dion’s Chicago Dream’s existing network, giving its participants a chance to integrate
            this pioneering technology into their lives. Families will receive their usual food deliveries using the Dream Box, offering feedback to shape
            future product enhancements. DCD will handle installation, maintenance, and customer care, ensuring each family experiences a smooth, positive
            transition to this innovative delivery system.
        </div>
        <div class="h-[0px] w-[238px] border border-salmon opacity-90"></div>
        <div class="py-4 pr-[100px] text-[2.8rem] font-extralight leading-[1.2] text-salmon text-opacity-90">
            This partnership is about so much more than a box. It’s about dignity, accessibility, and innovation.
        </div>
        <div class="pb-6 text-med font-normal leading-[31px] text-salmon text-opacity-90">Dion Dawson</div>
        <!-- LOOKING AHEAD -->
        <h4 class="pt-6 pb-4 text-left font-sansmd text-lg font-medium leading-[1.2] tracking-tight text-brightgreen ztablet:text-lg">Looking Ahead</h4>
        <div class="pb-10 text-sm text-white text-opacity-80 ztablet:text-left ztablet:text-press">
            With a shared vision to bridge the gap in food access and equity, Veranda and DCD plan to expand Dream Boxes citywide, creating a model that can be
            scaled to cities across the U.S.. Veranda will continue to offer operational support and software integration for DCD’s team, enabling further
            advancements in delivery solutions and strengthening food security in communities. Dion’s leadership in this launch marks a pivotal step in the
            project’s mission to prove the efficacy of the product, as well as make a positive impact on its first market. DCD’s commitment to delivering on
            consistent, high nutrition food access aligns seamlessly with Veranda’s mission to make a variety of food options easily accessible in an efficient,
            scalable, and environmentally responsible way for all consumers. “This partnership is about so much more than a box,” Dion said. “It’s about
            dignity, accessibility, and innovation. There is an opportunity in front of us that is a chance to illuminate last-mile delivery in a way that will
            impact many generations to come.”
        </div>
        <div class="w-full overflow-hidden rounded-[20px]">
            <img class="w-full object-contain" src="/assets/Dream_Box_Group_Enhanced.jpg" alt="Dream Box" />
        </div>
        <div class="pt-10 pb-20 text-sm text-white text-opacity-80 ztablet:text-left ztablet:text-press">
            As Veranda and Dion’s Chicago Dream introduce Dreambox to Chicago, these visionary organizations are paving the way for a future where food access
            is equitable, efficient, and environmentally sustainable. Together, they invite Chicago and grocery providers to join this transformative journey,
            setting the stage for a new era of home delivery. For more information on Dion’s Chicago Dream, visit
            <a href="https://dionschicagodream.com" class="underline">dionschicagodream.com</a>. <br /><br />For all press or media inquiries, please contact us
            at
            <a href="mailto:contact@getveranda.com" class="text-brightgreen underline">contact@getveranda.com</a>
        </div>
    </div>
</div>
