---
title: How It Works
heroLabel: The Veranda Platform
heroTitle: How It Works
description: See how the Veranda platform keeps your deliveries secure, any time of day.
url: 'https://getveranda.com/how-it-works'
layout: 'layouts/defaultsansloader.html'
permalink: '/how-it-works/'
---

<section id="hero" class="relative w-full">{% include "partials/pageHero.html" %}</section>

<section id="steps" class="relative w-full">{% include "sections/how-it-works/steps.html" %}</section>

<section id="technology" class="relative w-full">{% include "sections/how-it-works/technology.html" %}</section>

<section id="app" class="relative w-full">{% include "sections/how-it-works/app.html" %}</section>

<section id="access" class="relative w-full">{% include "sections/how-it-works/access.html" %}</section>
