---
title: How It Works
heroLabel: The Veranda System
heroTitle: How It Works
description: See how the Veranda system delivers your groceries and packages securely, any time of day.
url: 'https://getveranda.com/how-it-works'
layout: 'layouts/defaultsansloader.html'
permalink: '/how-it-works/'
---

<section id="hero" class="relative w-full">{% include "partials/pageHero.html" %}</section>

<section id="how-it-works" class="relative w-full">{% include "sections/how-it-works/steps.html" %}</section>
