---
title: Veranda
layout: 'layouts/default.html'
---

<!-- <nav>{{ title }}</nav> -->
<section id="hero" class="relative w-full">{% include "sections/hero.html" %}</section>

<section id="solution" class="relative w-full">{% include "sections/solution.html" %}</section>

<section id="video" class="relative w-full">{% include "sections/video.html" %}</section>

<section id="system" class="relative z-[-1] w-full bg-cream">{% include "sections/system.html" %}</section>

<section id="mid_banner" class="relative w-full">{% include "sections/mid_banner.html" %}</section>

<section id="features" class="relative w-full">{% include "sections/features.html" %}</section>

<section id="enviro" class="relative w-full">{% include "sections/enviro.html" %}</section>

<section id="updates" class="relative w-full">{% include "sections/updates.html" %}</section>
