---
title: Our Team
heroLabel: About Veranda
heroTitle: Our Team
description: Meet the people behind Veranda - our team, board, and advisors.
url: 'https://getveranda.com/our-team'
layout: 'layouts/defaultsansloader.html'
permalink: '/our-team/'
---

<section id="hero" class="relative w-full">{% include "partials/pageHero.html" %}</section>

<section id="story" class="relative w-full">{% include "sections/our-team/story.html" %}</section>

<section id="team" class="relative w-full">{% include "sections/our-team/team.html" %}</section>

<section id="board" class="relative w-full">{% include "sections/our-team/board.html" %}</section>

<section id="updates" class="relative w-full">{% include "sections/updates.html" %}</section>
