---
title: Our Team
heroTitle: The People Behind Veranda
description: Meet the people behind Veranda - our team, board, and advisors.
url: 'https://getveranda.com/our-team'
layout: 'layouts/defaultsansloader.html'
permalink: '/our-team/'
---

<section id="hero" class="relative w-full">{% include "partials/pageHero.html" %}</section>

<section id="story" class="relative w-full">{% include "sections/our-team/story.html" %}</section>

<div class="flex w-full justify-center bg-slate py-8">
    <img
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-once="true"
        src="/assets/branding/logo_symbol.svg"
        alt=""
        aria-hidden="true"
        class="h-10 w-auto opacity-40"
    />
</div>

<section id="team" class="relative w-full">{% include "sections/our-team/team.html" %}</section>

<section id="board" class="relative w-full">{% include "sections/our-team/board.html" %}</section>
