<div class="mt-24 min-h-[45vw] ztablet:my-14 ztablet:min-h-[18em] ztv:pt-[5em]">
    <img
        class="absolute left-[17.5%] mt-[-19vw] w-[65vw] min-w-[10em] ztablet:left-[53%] ztablet:mt-[-5vw] ztablet:w-[calc(40vw)] ztablet:max-w-[32em]"
        src="./assets/graphics/feat2.svg"
        alt=""
    />
    <img
        class="absolute left-[21%] z-10 m-auto mt-[-24vw] w-[58vw] ztablet:left-[56%] ztablet:right-auto ztablet:ml-[] ztablet:mt-[-6vw] ztablet:w-[34vw] ztablet:max-w-[27em] ztv:left-[54%]"
        src="./assets/feat2_box.webp"
        alt="Delivery Box, angled view from front"
    />
</div>
