<div class="relative left-[16%] mt-20 min-h-[45vw] ztablet:left-[25%] ztablet:my-14 ztablet:min-h-[18em]">
    <img
        class="absolute mt-[-4em] ml-[3vw] w-[26vw] min-w-[3em] ztablet:ml-[-9vw] ztablet:mt-[-6vw] ztablet:w-[calc(20vw)] ztablet:max-w-[14em] zlgdesktop:ml-[-5em] zlgdesktop:mt-[-7em]"
        src="./assets/bg/feat3_bg.svg"
        alt=""
    />
    <img
        class="absolute z-10 m-auto mt-[-1em] w-[55vw] ztablet:left-0 ztablet:ml-[-13vw] ztablet:w-[45vw] ztablet:max-w-[30em] zlgdesktop:ml-[-8em]"
        src="./assets/feat3_box.png"
        alt="Delivery Box, view from side"
    />
    <img
        class="absolute z-10 mt-[10vw] ml-[calc(0.5em)] w-[13vw] ztablet:ml-[-11vw] ztablet:w-[10vw] ztablet:max-w-[7em] zdesktop:ml-[-6em] zlgdesktop:mt-[10em]"
        src="./assets/feat3_icon.svg"
        alt=""
    />
</div>
