<div class="mt-16 min-h-[45vw] ztablet:my-14 ztablet:min-h-[18em]">
    <img
        class="absolute mt-[-13vw] ml-[8vw] w-[60vw] min-w-[10em] ztablet:ml-[-9vw] ztablet:mt-[-6vw] ztablet:w-[calc(40vw)] ztablet:max-w-[32em] zdesktop:mt-[-10vw] zlgdesktop:ml-[-5em] zlgdesktop:mt-[-7em]"
        src="./assets/graphics/feat1.svg"
        alt=""
    />
    <img
        class="absolute z-10 m-auto ml-[1em] w-[80vw] ztablet:right-auto ztablet:ml-[-13vw] ztablet:mt-[3em] ztablet:w-[55vw] ztablet:max-w-[42em] zdesktop:mt-0 zlgdesktop:ml-[-8em]"
        src="./assets/feat1_box.webp"
        alt="Delivery Box, angled view from front"
    />
</div>
