<nav class="z-10 m-auto flex max-w-[120em] justify-between p-4 pb-6 ztablet:py-8 ztablet:px-12">
    <a href="/" class="z-10">
        <img class="w-28 min-w-[6em] zmobile:w-36 zdesktop:w-52" src="/assets/branding/logo.svg" alt="Veranda Logo" />
    </a>
    <!-- Button which scrolls to bottom -->
    <!-- <button
        id="fixedbtn"
        onclick="window.location.href='#updates';"
        class="fixed right-4 top-4 z-10 rounded-4xl bg-brightgreen px-4 py-2 text-xsm font-bold tracking-tight text-slate ztablet:top-6 ztablet:right-12 ztablet:px-8 ztablet:py-4 ztablet:text-base zdesktop:top-8 zuwdesktop:right-[calc(50vw-57em)]"
    > -->

    <!-- Button which opens modal -->
    <!-- <a
        id="fixedbtn"
        data-formkit-toggle="081cac7ca4"
        href='https://relentless-builder-3913.ck.page/081cac7ca4';"
        class="hover:mt-[-0.2em] hover:shadow-[3px_8px_10px_rgba(0,0,0,0.4)] fixed right-4 top-5 z-10 rounded-4xl bg-brightgreen px-4 py-2 text-xsm font-bold tracking-tight text-slate ztablet:top-6 ztablet:right-12 ztablet:px-8 ztablet:py-4 ztablet:text-base zdesktop:top-8 zuwdesktop:right-[calc(50vw-57em)]"
    >
        {{site.signUpBtn}}
    </a> -->

    <!-- Pill container with three buttons -->
    <div
        class="fixed right-4 top-5 z-10 hidden space-x-2 rounded-4xl bg-brightgreen px-4 py-2 zdesktop:right-12 zdesktop:top-8 zdesktop:flex zdesktop:px-2 zdesktop:py-2 zuwdesktop:right-[calc(50vw-57em)]"
    >
        <a href="/" class="rounded-3xl bg-brightgreen px-6 py-2 text-xsm font-semibold text-slate hover:mt-[-0.1em] ztablet:text-base">About Veranda</a>
        <a href="/press-release/" class="rounded-3xl bg-brightgreen px-6 py-2 text-xsm font-bold text-slate hover:mt-[-0.1em] ztablet:text-base"
            >Press Release</a
        >
        <a
            href="https://relentless-builder-3913.ck.page/081cac7ca4"
            data-formkit-toggle="081cac7ca4"
            class="rounded-3xl bg-black px-6 py-2 text-xsm font-semibold text-brightgreen hover:translate-y-[-0.1em] ztablet:text-base"
        >
            {{site.signUpBtn}}
        </a>
    </div>

    <!--  Mobile Menu -->
    <div class="fixed right-4 top-5 z-10">
        <!-- Hamburger Icon -->
        <button id="menuToggle" class="flex h-10 w-10 items-center justify-center rounded-full bg-brightgreen zdesktop:hidden">
            <div id="hamburger" class="space-y-1">
                <span class="block h-0.5 w-6 bg-slate transition-transform"></span>
                <span class="block h-0.5 w-6 bg-slate transition-transform"></span>
                <span class="block h-0.5 w-6 bg-slate transition-transform"></span>
            </div>
        </button>

        <!-- Mobile Dropdown Menu -->
        <div id="mobileMenu" class="fixed top-16 right-4 flex hidden flex-col space-y-4 rounded-2xl bg-brightgreen p-4 ztablet:hidden">
            <a href="/" class="px-2 text-sm font-bold tracking-tight text-slate hover:mt-[-0.2em]"> About Veranda </a>
            <a href="/press-release/" class="px-2 text-sm font-bold tracking-tight text-slate hover:mt-[-0.2em]"> Press Release </a>
            <a
                href="https://relentless-builder-3913.ck.page/081cac7ca4"
                data-formkit-toggle="081cac7ca4"
                class="rounded-2xl bg-black px-6 py-2 text-sm font-bold tracking-tight text-brightgreen hover:mt-[-0.2em]"
            >
                {{site.signUpBtn}}
            </a>
        </div>
    </div>
</nav>
