<form class="">
    <input
        type="text"
        placeholder="Enter your email ..."
        required
        class="color-slate relative top-[0.2em] mb-6 w-[70vw] rounded-4xl py-3 px-6 font-sans text-sm font-bold tracking-tight ztablet:mb-0 ztablet:mr-[-2.5em] ztablet:w-[15em] ztablet:px-10 ztablet:py-4 ztablet:text-base zlgdesktop:w-[18em]"
    />
    <button
        type="submit"
        class="color-slate relative top-[3px] z-10 rounded-4xl bg-brightgreen px-6 py-3 text-sm font-bold tracking-tight ztablet:px-8 ztablet:py-4 ztablet:text-base"
    >
        Sign Up For Updates
    </button>
</form>
